.row {
    margin: 0;
}
.row i{
    font-size: 20px;
    color: slateblue;
}
.row p{
    font-size: 18px;
}
hr{
    border: 1px solid slateblue;
}
.fa-trash:hover{
    color: #ff0000;
}
.row i .fa-star{
    color: #ffa500 ;
}
.row i .fa-check-circle-o{
    color: #008000;
}