.Input{
    width:100%;
    text-align: center;
}
.Label{
    font-weight: bold;
    display: block;
    color: #fff;
    margin-bottom: 8px;
}
.InputElement{
    outline: none;
    border: none;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font: inherit;
    padding: 6px 10px;
    width:100%;
    display: block;
    color: #fff;
    margin-bottom: 10px;
    background-color: transparent;
}
.InputElement:focus{
    outline: none;
    /* background-color: #ccc; */
}
::placeholder{
    color: lightgrey;
    opacity: 1;
}
